/* import de fonts */
@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: titilium;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

/* reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* classes genéricas */

body {
    color: rgb(255, 255, 255);
}

header .header-bottom {
    height: 60px;
}

.mostrarLateral {
    right: 0 !important;
}

.mostrar-menu {
    left: 0 !important;
}

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: red 2px solid; */
}

.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.bottom-flex {
    display: flex;
    justify-content: space-between;
}

/* mobile first */

/* HEADER */


header .header-top {
    display: none;
    border-bottom: #F9AA01 solid 1px;

}

header {
    position: fixed;
    width: 100vw;
    z-index: 100;
    height: 60px;
    background-color: #1B1426;
}

header .logo {
    width: 86px;
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: calc(100vh - 60px);
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    padding-bottom: 20px;

    transition: left 0.5s;

    /* display: none; */
}

header .header-bottom nav>a {
    padding: 30px 0;
    color: white;
    font-size: 15px;
    font-family: "inter";
    text-decoration: none;
    border-bottom: #F9AA01 2px solid;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -66px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 170px;
    width: 66px;

    transition: right 0.5s;


    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
}


.contatos {
    display: flex;
    justify-content: space-around;
    width: 410px;
    height: 29px;
}

header .header-bottom nav .midias-sociais {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    text-decoration: none;
    /* border: 1px red solid; */
}

/* main */

main .banner-principal {
    background-image: url(../assets/images/valorant-pergunte-3-scaled\ 1banner\ main.png);
}
